.radiogroup
  span.radiogroup__label Show
  button.radiogroup__radio.radiogroup__radio_checked(type='button', data-variant='all') All tasks
  button.radiogroup__radio(type='button', data-variant='open') Only open tasks
